In [1]:
import pandas as pd
from pymongo import MongoClient
conn = "mongodb://127.0.0.1:27017/"
client = MongoClient(conn)
database = client["project_bdnsql"]
data = database["Healthcare-Diabetes"]

In [3]:
pd.DataFrame(list(data.find()))

,_id,Id,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,684996d8c636c293a97eac8d,3,8,183,64,0,0,23.3,0.672,32,1
1,684996d8c636c293a97eac8e,5,0,137,40,35,168,43.1,2.288,33,1
2,684996d8c636c293a97eac8f,1,6,148,72,35,0,33.6,0.627,50,1
3,684996d8c636c293a97eac90,6,5,116,74,0,0,25.6,0.201,30,0
4,684996d8c636c293a97eac91,7,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...,...,...
2763,684996d8c636c293a97eb758,2768,2,81,72,15,76,30.1,0.547,25,0
2764,684996d8c636c293a97eb759,2754,0,131,88,0,0,31.6,0.743,32,1
2765,684996d8c636c293a97eb75a,2765,8,179,72,42,130,32.7,0.719,36,1
2766,684996d8c636c293a97eb75b,2750,4,151,90,38,0,29.7,0.294,36,0
2767,684996d8c636c293a97eb75c,2722,3,170,64,37,225,34.5,0.356,30,1